In [2]:
import pandas as pd
import numpy as np
import yaml
import os
import tqdm
import src.util as util

import matplotlib.pyplot as plt
import seaborn as sns

# 1. Load Config and Train Datset

In [8]:
# load config
config_data = util.load_config()

# load train dataset
x_train = util.pickle_load(config_data["train_set_path"]["x"])
y_train = util.pickle_load(config_data["train_set_path"]["y"])
dataset = pd.concat([x_train, y_train], axis=1)

dataset.head(5)

,Department,JobRole,Gender,JobLevel,Age,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,MonthlyIncome,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,PerformanceRating,Attrition
853,Research & Development,Research Scientist,Male,1,19,1,1,0,0,2552,3,1,3,4,No
435,Research & Development,Manager,Male,3,33,7,6,7,7,13610,2,3,4,3,Yes
587,Research & Development,Laboratory Technician,Female,2,52,5,2,1,4,3149,4,3,3,4,No
1170,Research & Development,Research Scientist,Male,1,27,4,2,1,2,2580,4,4,2,3,No
159,Sales,Sales Representative,Female,1,34,4,3,1,2,2231,3,3,3,3,No

# 2. Check Missing Value

In [10]:
dataset.isnull().sum()

Department                 0
JobRole                    0
Gender                     0
JobLevel                   0
Age                        0
YearsAtCompany             0
YearsInCurrentRole         0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
MonthlyIncome              0
EnvironmentSatisfaction    0
JobSatisfaction            0
WorkLifeBalance            0
PerformanceRating          0
Attrition                  0
dtype: int64

# 3. Comparing Descriptive Stats by Classes

In [12]:
dataset[dataset["Attrition"] == "Yes"].describe()

,JobLevel,Age,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,MonthlyIncome,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,PerformanceRating
count,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000
mean,1.680723,33.096386,4.753012,2.819277,1.867470,2.753012,4847.765060,2.433735,2.439759,2.626506,3.156627
std,0.953711,9.417732,5.140966,3.110664,3.093575,3.274209,3674.519049,1.151471,1.114362,0.834278,0.364548
min,1.000000,18.000000,0.000000,0.000000,0.000000,0.000000,1009.000000,1.000000,1.000000,1.000000,3.000000
25%,1.000000,28.000000,1.000000,0.000000,0.000000,0.000000,2353.750000,1.000000,1.000000,2.000000,3.000000
50%,1.000000,31.000000,3.000000,2.000000,1.000000,2.000000,3373.500000,3.000000,3.000000,3.000000,3.000000
75%,2.000000,38.750000,7.000000,4.000000,2.000000,4.750000,6147.500000,3.000000,3.000000,3.000000,3.000000
max,5.000000,58.000000,31.000000,15.000000,15.000000,14.000000,19859.000000,4.000000,4.000000,4.000000,4.000000

In [13]:
dataset[dataset["Attrition"] == "No"].describe()

,JobLevel,Age,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,MonthlyIncome,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,PerformanceRating
count,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000,863.00000,863.000000,863.000000,863.000000
mean,2.159907,37.685979,7.359212,4.505214,2.251448,4.395133,6875.366165,2.75898,2.757822,2.785632,3.154114
std,1.092015,8.933234,6.006439,3.606151,3.245278,3.523909,4702.370370,1.06509,1.101773,0.687426,0.361267
min,1.000000,18.000000,0.000000,0.000000,0.000000,0.000000,1051.000000,1.00000,1.000000,1.000000,3.000000
25%,1.000000,31.000000,3.000000,2.000000,0.000000,2.000000,3419.500000,2.00000,2.000000,2.000000,3.000000
50%,2.000000,36.000000,5.000000,3.000000,1.000000,3.000000,5238.000000,3.00000,3.000000,3.000000,3.000000
75%,3.000000,44.000000,10.000000,7.000000,3.000000,7.000000,8859.000000,4.00000,4.000000,3.000000,3.000000
max,5.000000,60.000000,37.000000,17.000000,15.000000,17.000000,19973.000000,4.00000,4.000000,4.000000,4.000000